@use "../../scss/abstracts/" as *;

.products {
  margin: 5rem 2rem;
}

.product {
  display: grid;
  //grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
}
